h3 {
    margin: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.film {
    float: left;
    margin: 20px;
    padding: 5px;
    border: 5px solid gold;
    border-radius: 10px;
    background-color: wheat;
    cursor: pointer;
    /* -webkit-transform: translateX(50%);
    transform: translateX(50%); */
}